<div class="row">
  <div class="col-12 whitebg mt-5">
    <div class="container my-5 text-center">
      <h2>Veislynas "IŠTIKIMAS ŠUO"</h2>
      <h2>Virginija Žiedienė</h2>
      <img class="img-fluid" alt="Virginija" src="https://firebasestorage.googleapis.com/v0/b/random-2d2ff.appspot.com/o/vz.jpg?alt=media&token=4f1ae70d-7b73-4891-b427-97e771890bf5">
    </div>
    <ul>
      <li>Adresas: Basanavičiaus 32A, Šiauliai, LT-76234 Lietuva</li>
      <li>Mob. telefonas: +37067790680</li>
      <li>El. paštas: <a href="mail:istikimassuo@gmail.com">istikimassuo@gmail.com</a></li>
    </ul>
  </div>
</div>
