<div class="container mx-auto">
  <h1>Veislyne "Ištikimas šuo" laikomi šunys:</h1>
  <div class="col-12 text-center mx-auto mt-5 border border-dark rounded mb-5 whitebg">
    <table class="table table-hover mt-5">
      <thead>
        <tr>
          <th scope="col">Lytis</th>
          <th scope="col">Vardas</th>
          <th scope="col">Nuotrauka</th>
          <th scope="col">Dokumentai</th>


        </tr>
      </thead>
      <tbody>
        <tr class="fem">
          <th scope="row">Kalė</th>
          <td><a class="texthref" routerLink="/our-dogs/zyra">Zyra Puikus medžioklis ♀ RIP</a></td>
          <td>
            <img
              src="http://istikimassuo.puslapiai.lt/images/stories/zyra.jpg"
              class="img-responsive"
            />
          </td>
          <td>
            <a href="http://www.istikimassuo.puslapiai.lt/images/stories/Zyra/pedigree.jpg" target="_blank">Kilmės dokumentas</a>
          </td>
        </tr>
        <tr class="fem">
          <th scope="row">Kalė</th>
          <td><a class="texthref" routerLink="/our-dogs/brukne">Bruknė Petesha (LT JCH-CH-VCH) ♀</a></td>
          <td>
            <img
              src="http://istikimassuo.puslapiai.lt/images/stories/brukne.jpg"
              class="img-responsive"
            />
          </td>
          <td>
            <a href="http://www.istikimassuo.puslapiai.lt/images/stories/Brukne/pedigree.jpg" target="_blank">Kilmės dokumentas</a>
            <br>
            <a href="http://www.istikimassuo.puslapiai.lt/images/stories/Bruknesakys.jpeg" target="_blank">Akių tyrimo sertifikatas</a>

          </td>
        </tr>
        <tr class="fem">
          <th scope="row">Kalė</th>
          <td><a class="texthref" routerLink="/our-dogs/istagram">
            Istagram Di Sutri /ETNA/ (LT JCH, LT CH,LV CH,EST, BALT CH, CH,RU
            CH) ♀</a>
          </td>
          <td>
            <img
              src="http://istikimassuo.puslapiai.lt/images/stories/etna.jpg"
              class="img-responsive"
            />
          </td>
          <td>
            <a href="http://www.istikimassuo.puslapiai.lt/images/stories/Etna/pedigree.jpg" target="_blank">Kilmės dokumentas</a>
            <br>
            <a href="http://www.istikimassuo.puslapiai.lt/images/stories/Etnosakys.jpg" target="_blank">Akių tyrimo sertifikatas</a>

          </td>
        </tr>
        <tr class="male">
          <th scope="row">Patinas</th>
          <td><a class="texthref" routerLink="/our-dogs/garas">Garas ištikimas šuo (LT JCH) ♂</a></td>
          <td>
            <img
              src="http://istikimassuo.puslapiai.lt/images/stories/Garas/garas1.jpg"
              class="img-responsive"
            />
          </td>
          <td>
            <a href="http://www.istikimassuo.puslapiai.lt/images/stories/Garas/pedigree.jpg" target="_blank">Kilmės dokumentas</a>
          </td>
        </tr>
        <tr class="fem">
          <th scope="row">Kalė</th>
          <td><a class="texthref" routerLink="/our-dogs/juka">Juka ištikimas šuo ♀</a></td>
          <td>
            <img
              src="http://istikimassuo.puslapiai.lt/images/stories/juka.jpg"
              class="img-responsive"
            />
          </td>
          <td>
            <a href="http://www.istikimassuo.puslapiai.lt/images/stories/Juka/pedigree.jpg" target="_blank">Kilmės dokumentas</a>
            <br>
            <a href="http://www.istikimassuo.puslapiai.lt/images/stories/juka_akys.jpg" target="_blank">Akių tyrimo sertifikatas</a>

          </td>
        </tr>
        <tr class="fem">
          <th scope="row">Kalė</th>
          <td><a class="texthref" routerLink="/our-dogs/redsprings">Redsprings Eleri Hud (LT JCH, LT CH) ♀</a></td>
          <td>
            <img
              src="http://istikimassuo.puslapiai.lt/images/elari%20-%20puslapiui/2.3.jpg"
              class="img-responsive"
            />
          </td>
          <td>
            <a href="http://www.istikimassuo.puslapiai.lt/images/stories/Elari/pedigree.jpg" target="_blank">Kilmės dokumentas</a>
            <br>
            <a href="http://www.istikimassuo.puslapiai.lt/images/stories/elari_akys.jpg" target="_blank">Akių tyrimo sertifikatas</a>
            <br>
            <a href="http://www.istikimassuo.puslapiai.lt/images/stories/elari_displazija.jpg" target="_blank">Klubo/alkūnės sanario displazijos tyrimo sertifikatas</a>


          </td>
        </tr>
        <tr class="fem">
          <th scope="row">Kalė</th>
          <td><a class="texthref" routerLink="/our-dogs/kruopa">Kruopa Ištikimas šuo ♀ RIP</a></td>
          <td>
            <img
              src="http://istikimassuo.puslapiai.lt/images/stories/Kruopa/kruopa.JPG"
              class="img-responsive"
            />
          </td>
          <td>
            <a href="http://www.istikimassuo.puslapiai.lt/images/stories/Kruopa/pedigree.jpg" target="_blank">Kilmės dokumentas</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
