<!--The content below is only a placeholder and can be replaced.-->
<div class="container col-12">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/">Apie mus</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a
            ><div
            id="carret"
              class="dropdown ng-app {{openClass}}"
              (mouseover)="openclass=open"
              ng-init="openclass=closed"
            >
              <a routerLink="/our-dogs">Mūsų šunys </a>
              <a
                class="dropdown-toggle"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="navigateToDog('zyra')"
                  >Zyra Puikus medžioklis ♀ RIP</a
                >
                <a class="dropdown-item" (click)="navigateToDog('brukne')"
                  >Bruknė Petesha (LT JCH-CH-VCH) ♀</a
                >
                <a class="dropdown-item" (click)="navigateToDog('istagram')"
                  >Istagram Di Sutri /ETNA/ (LT JCH, LT CH,LV CH,EST, BALT CH,
                  CH,RU CH) ♀
                </a>
                <a class="dropdown-item" (click)="navigateToDog('garas')"
                  >Garas ištikimas šuo (LT JCH) ♂
                </a>
                <a class="dropdown-item" (click)="navigateToDog('juka')"
                  >Juka ištikimas šuo ♀</a
                >
                <a class="dropdown-item" (click)="navigateToDog('redsprings')"
                  >Redsprings Eleri Hud (LT JCH, LT CH) ♀</a
                >
                <a class="dropdown-item" (click)="navigateToDog('kruopa')"
                  >Kruopa Ištikimas šuo ♀ RIP</a
                >
              </div>
            </div></a
          >
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/litters">Vados</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/gallery">Galerija</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/breed-standards">Veislių standartai</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/contacts">Kontaktai</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<script>

</script>

<router-outlet></router-outlet>
