li {
    margin-left: 10px;
}

.dropdown-toggle:hover{
    cursor: pointer;
}

.dropdown-item:hover{
    cursor: pointer;
    background-color: #17a2b8 !important;
    color:white !important;
}

.dropdown-menu{
    font-size: 2rem;
}