<div>
  <h1 class="text-center text-capitalize mt-5">{{ selected.currentChoice }}</h1>
</div>
<div class="container mt-5">
<div class="row justify-content-center align-self-center jumbotron">
    <div class="col-12">
      <div
        class="col-sm-3 align-middle mx-auto
      " ng-class="{red: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false"
      >

        <button mat-button matTooltip="{{ds.dogs.zyra.name}} 
        {{ds.dogs.zyra.regno}} 
        {{ds.dogs.zyra.dob}} 
        {{ds.dogs.zyra.loc}}" class="f btn">
          Zyra
        </button>
      </div>
      <div
        class="col-sm-3 my-auto mx-auto
      "
      >
        <button mat-button matTooltip="Info about the action"  class="m btn">Buornehuose Masterchef of Dialynne</button>
        <button mat-button matTooltip="Info about the action"  class="f btn">Exa Puikus Medžioklis</button>
      </div>

      <div
        class="col-sm-3 my-auto mx-auto
      "
      >
        <button mat-button matTooltip="Info about the action"  class="m btn">Dialynne Masterpiece</button>
        <button mat-button matTooltip="Info about the action"  class="f btn">Buornehuose Kiroyale</button>
        <button mat-button matTooltip="Info about the action"  class="m btn">Blacky The First Catulus</button>
        <button mat-button matTooltip="Info about the action"  class="f btn">Chilli Belle Voix</button>
      </div>
      <div
        class="col-sm-3 my-auto mx-auto
      "
      >
        <button mat-button matTooltip="Info about the action"  class="m btn">Dialynne Hallmark</button>
        <button mat-button matTooltip="Info about the action"  class="f btn">Dialynne Rosa Lea</button>
        <button mat-button matTooltip="Info about the action"  class="m btn">Storm Away of Dialynne</button>
        <button mat-button matTooltip="Info about the action"  class="f btn">Dialynne Kirsch At Buornehuose</button>
        <button mat-button matTooltip="Info about the action"  class="m btn">Shelaft Billy Whizz of Dialynne</button>
        <button mat-button matTooltip="Info about the action"  class="f btn">Snugglewood's Olka</button>
      </div>
    </div>
  </div>
</div>
