<div class="container my-5 col-11 p-0">
  <div class="row col-8">
    <h2>Sveiki, atvykę į veislyno „Ištikimas šuo" tinklapį!</h2>
  </div>

  <div class="row py-3 col-8">
    <p>
      Veislynas
      <a
        href="http://www.istikimassuo.puslapiai.lt/images/stories/veislyno%20registracija.jpg"
        target="_blank"
        ><u>registruotas</u></a
      >
      Lietuvos kinologų draugijoje ir FCI. 
    </p>
    <p>
       Mielai pasidalinsime žiniomis ir patirtimi auginant terjerų, valų
      springerspanielių ar biglių veislės šuniuką.
    </p>
  </div>

  <div class="row mt-5 col-8 m-0 p-0">
    <h2 class="d-inline">
      IŠSKIRTINĖ VADA !!!
    </h2>
    <div class="row col-12">
      <img
        src="http://www.istikimassuo.puslapiai.lt/images/stories/rvada.jpg"
        style="max-height: 150px"
        class="d-inline"
      />
    </div>

    <p>
      Veislyne, balandžio men. 14 d., gimė DŽEKO RASELO terjerų veislės
      šuniukai. Šuniukai bus dehelmetizuoti, paskiepyti, turės mikročipą, Euro
      pasą. Reikalui esant, sutvarkome dokumentus šuns išvežimui į užsienį.
      Kokybę garantuoja pirkimo - perdavimo sutartis, sveikatos tyrimai.
      <br /><br />Tėvas: <b>LOVELY-ORANGE EAGLE DANCE, RU CH</b> <br />
      Mama: <b>JUKA IŠTIKIMAS ŠUO </b>
      <a
        href="http://www.istikimassuo.puslapiai.lt/images/stories/juka_akys.jpg"
        target="_blank"
        >(Akių tyrimo sertifikatas)</a
      >
    </p>
  </div>
  <hr />
  <div class="row mt-5 col-8 m-0 p-0">
    <h2 class="d-inline">
      Предлагаются щенки ДЖЕКА РАССЕЛА ТЕРЬЕРА, супер линий!!!
    </h2>

    <p>
      Щенки для выставочной карьеры и в качестве друга семьи и компаньона.
      Ведётся предварительное бронирование. На момент проди дети будут иметь
      полный пакет документов, заключается договор купли и продажи, акт приёмки
      щенка. Всесторонняя помощь гарантируется.
      <br /><br />Отец : <b>LOVELY-ORANGE EAGLE DANCE, RU CH</b> <br />
      Мать: <b>JUKA IŠTIKIMAS ŠUO </b>
      <a
        href="http://www.istikimassuo.puslapiai.lt/images/stories/juka_akys.jpg"
        target="_blank"
        >(Сертификат о диагностике глаз)</a
      >
    </p>
  </div>
  <hr />
  <div class="row mt-5 col-8">
    <h2>
      Domina šuniuko įsigyjimas?
      <button class="btn btn-primary" (click)="onContactsClick()">
        Susisiekime!
      </button>
    </h2>
  </div>

  <!-- <div class="row mt-5 col-11 mx-auto">
    <iframe
      class="mx-auto"
      max-width="34%"
      max-height="10%"
      src="https://www.youtube.com/embed/xbCphiBIf2E"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <iframe
      class="mx-auto"
      max-width="34%"
      max-height="10%"
      src="https://www.youtube.com/embed/9ED4sfTTbQA"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <iframe
      class="mx-auto"
      max-width="34%"
      max-height="10%"
      src="https://www.youtube.com/embed/WWGf9r5fFSo"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <iframe
      class="mx-auto"
      max-width="34%"
      max-height="10%"
      src="https://www.youtube.com/embed/qEB2HWaCaog"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <iframe
      class="mx-auto"
      max-width="34%"
      max-height="10%"
      src="https://www.youtube.com/embed/ecSbhd6q0OE"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div> -->
</div>
