<div class="container my-5 col-11 p-0 whitebg">
  <div class="row col-8">
    <h2>Sveiki, atvykę į veislyno „Ištikimas šuo" tinklapį!</h2>
  </div>

  <div class="row py-3 col-8">
    <p>
      Veislynas
      <a
        href="https://firebasestorage.googleapis.com/v0/b/random-2d2ff.appspot.com/o/veislynoRegistracija.jpg?alt=media&token=3f8a067a-96a4-4972-b778-5fde66d575fa"
        target="_blank"
        ><u class="texthref">registruotas</u></a
      >
      Lietuvos kinologų draugijoje ir FCI. Mielai pasidalinsime žiniomis ir patirtimi auginant terjerų, valų
      springerspanielių ar biglių veislės šuniuką.
    </p>

  </div>

  <div class="row mt-5 col-8 m-0 p-0">
    <h2 class="d-inline">
      IŠSKIRTINĖ VADA !!!
    </h2>
    <div class="row col-12">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/random-2d2ff.appspot.com/o/rvada.jpg?alt=media&token=04cb82ba-ce35-45b8-b20c-602337c5dbeb"
        style="max-height: 150px"
        class="d-inline"
      />
    </div>

    <p>
      Veislyne, balandžio men. 14 d., gimė DŽEKO RASELO terjerų veislės
      šuniukai. Šuniukai bus dehelmetizuoti, paskiepyti, turės mikročipą, Euro
      pasą. Reikalui esant, sutvarkome dokumentus šuns išvežimui į užsienį.
      Kokybę garantuoja pirkimo - perdavimo sutartis, sveikatos tyrimai.
      <br /><br />Tėvas: <b>LOVELY-ORANGE EAGLE DANCE, RU CH</b> <br />
      Mama: <b>JUKA IŠTIKIMAS ŠUO </b>
      <a
        href="https://firebasestorage.googleapis.com/v0/b/random-2d2ff.appspot.com/o/juka_akys.jpg?alt=media&token=da557be2-29dc-4ba2-9c93-b5e84e133e1c"
        target="_blank" class="texthref"
        >(Akių tyrimo sertifikatas)</a
      >
    </p>
  </div>
  <hr />
  <div class="row mt-5 col-8 m-0 p-0">
    <h2 class="d-inline">
      Предлагаются щенки ДЖЕКА РАССЕЛА ТЕРЬЕРА, супер линий!!!
    </h2>

    <p>
      Щенки для выставочной карьеры и в качестве друга семьи и компаньона.
      Ведётся предварительное бронирование. На момент проди дети будут иметь
      полный пакет документов, заключается договор купли и продажи, акт приёмки
      щенка. Всесторонняя помощь гарантируется.
      <br /><br />Отец : <b>LOVELY-ORANGE EAGLE DANCE, RU CH</b> <br />
      Мать: <b>JUKA IŠTIKIMAS ŠUO </b>
      <a
        href="https://firebasestorage.googleapis.com/v0/b/random-2d2ff.appspot.com/o/juka_akys.jpg?alt=media&token=da557be2-29dc-4ba2-9c93-b5e84e133e1c"
        target="_blank" class="texthref"
        >(Сертификат о диагностике глаз)</a
      >
    </p>
  </div>
  <hr />
  <div class="row mt-5 col-8">
    <h2>
      Domina šuniuko įsigyjimas?
      <button class="btn btn-primary pulsebtn mt-5" (click)="onContactsClick()">
        <h2>Susisiekime!</h2>
      </button>
    </h2>
  